<%= form_for :user do |form| %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="mui-textfield">
        <%= form.label :email, for: 'email' %>
        <%= form.text_field :email, class: 'f', id: 'email' %>
      </div>
    </div>
  </div>
      
  <div class="row">
    <div class="col-md-12">
      <div class="mui-textfield">
        <%= form.label :name, class: '', for: 'name' %>
        <%= form.text_field :name, class: '', id: 'name' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="mui-textfield">
        <%= form.label :password, for: 'password' %>
        <%= form.password_field :password, id: 'password', placeholder: "Enter Your Password, Dummy" %>
      </div>
    </div>
  </div>
  
      <%= form.submit 'SIGN UP', :class => 'mui-btn mui-btn--primary' %>
      <%end%>